/* Inicializacion */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
* {
  margin: 0;
  padding: 0; }

.animacion li, .animacionSubmit li, .animacionReset li {
  font-size: 15px;
  padding: 0.5em 1.2em; }
  .animacion li:hover, .animacionSubmit li:hover, .animacionReset li:hover {
    box-shadow: 2px 2px 5px #563d18e2;
    transition: all 0.2s ease; }
  .animacion li:active, .animacionSubmit li:active, .animacionReset li:active {
    box-shadow: 2px 2px 5px #563d18e2;
    background-color: #5b401967;
    transition: all 0.2s ease; }

.animacionSubmit:hover {
  box-shadow: 2px 2px 5px green;
  transition: all 0.2s ease; }

.animacionReset:hover {
  box-shadow: 2px 2px 5px red;
  transition: all 0.2s ease; }

/***********************************************************/
/*                       HEADER                            */
/***********************************************************/
#header {
  display: flex;
  flex-direction: column-reverse; }

.menuNavegacion li {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.2rem; }

.botonHamburguesa {
  margin: 10px 15px 10px 15px;
  width: auto;
  height: auto;
  background-color: #5eb0b0; }

.titulo {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 30px;
  color: #5eb0b0;
  border: solid 5px #5eb0b0;
  background-color: #563d18e2;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
  display: inline-block; }

/***********************************************************/
/***********************************************************/
/***********************************************************/
/*                       FOOTER                            */
/***********************************************************/
/***********************************************************/
/***********************************************************/
#footer {
  background-color: #adcac4;
  border: #e5e8e8;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.filaUno {
  border-bottom: #000 2px solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end; }

.logoDireccion {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end; }
  .logoDireccion .titulo {
    font-size: 1.3rem; }
  .logoDireccion p {
    margin: 10px 10px 10px 10px; }

.seguinos {
  margin: 10px 10px 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }
  .seguinos img {
    margin-left: 10px;
    height: 20px;
    width: 20px; }

.filaDos {
  margin: 15px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .filaDos p {
    margin-left: 10px; }

.logosTarjetas {
  margin-right: 10px; }
  .logosTarjetas img {
    margin-left: 5px;
    width: 25px;
    height: 25px; }

/* FOOTER */
@media (max-width: 700px) {
  .filaUno {
    font-size: 1.4rem;
    width: auto;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .filaUno .titulo {
      font-size: 1.4rem; }
  .filaDos {
    font-size: 1.4rem;
    width: auto;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .titulo {
    font-size: 5vw; } }

@media (max-width: 300px) {
  .logoDireccion {
    flex-direction: column; }
  .filaUno {
    font-size: 1.1rem; }
  .filaDos {
    font-size: 1.1rem; }
  .titulo {
    font-size: 1.1rem; } }

.carouselHeader img {
  height: 400px;
  object-fit: cover; }

/***********************************************************/
/*                       INDEX                             */
/***********************************************************/
.bodyIndex {
  background-color: #b6a598;
  margin: 0;
  padding: 0; }

/*===========SOBRE NOSOTROS=============*/
.sobreNosotros {
  height: 400px;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: #5eb0b0;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.textoSobreNosotros {
  width: 100%;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  font-family: "Times New Roman", Times, serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  .textoSobreNosotros p {
    font-size: 1.2rem;
    padding-right: 30px;
    padding-left: 30px; }
  .textoSobreNosotros h2 {
    font-variant: small-caps;
    font-size: 2.2rem;
    margin-top: 20px; }

.imagenSobreNosotros {
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .imagenSobreNosotros img {
    object-fit: cover;
    width: 100%; }

a {
  text-decoration: none;
  font-weight: bold;
  font-family: AbrilFatface; }

/*=================== RECOMENDADOS ==========================*/
.recomendados {
  font-family: "Times New Roman", Times, serif;
  background-color: #5eb0b0;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .recomendados h2 {
    margin-left: 10px;
    font-variant: small-caps;
    font-size: 2.2rem; }
  .recomendados h3 {
    font-size: 1.8em;
    color: white;
    font-weight: bold;
    padding: 30px 60px 30px 60px; }

.r1 {
  background-color: #adcac4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .r1 .r-title h3 {
    background-color: #5eb0b0; }

.r2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center; }
  .r2 .r-title h3 {
    background-color: #adcac4; }

.r3 {
  background-color: #adcac4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .r3 .r-title h3 {
    background-color: #5eb0b0; }

.r-title {
  margin: 15px 15px 15px 15px;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.r-image {
  margin: 15px 15px 15px 15px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .r-image img {
    width: 450px;
    height: 300px; }

/*=================== MEDIA QUERY ==========================*/
@media (max-width: 900px) {
  .sobreNosotros {
    height: auto;
    flex-direction: column;
    justify-content: space-evenly; }
  .textoSobreNosotros {
    font-size: 5vw;
    width: auto; }
  .imagenSobreNosotros {
    margin-top: 15px;
    margin-bottom: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .imagenSobreNosotros img {
      width: 70%; }
  .recomendados {
    text-align: center; }
  .r1 {
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
  .r2 {
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
  .r3 {
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
  .r-image {
    margin: 15px 15px 15px 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .r-image img {
      margin: 15px 15px 15px 15px;
      width: 70%;
      height: auto; } }

@media (max-width: 500px) {
  .imagenSobreNosotros img {
    width: 90%; } }

@media (max-width: 300px) {
  .recomendados h2 {
    font-size: 1.8rem; }
  .recomendados h3 {
    font-size: 1.2rem;
    padding: auto; } }

/***********************************************************/
/*                       PAGINA MENU                       */
/***********************************************************/
.bodyMenu {
  background-color: #c2bab4; }

.menu {
  margin-top: 50px;
  margin-bottom: 50px; }

.componenteMenu {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  .componenteMenu img {
    margin-left: 10px;
    margin-right: 10px;
    width: 40%;
    object-fit: cover; }

.tituloMenu {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5rem;
  margin-left: 10px;
  margin-right: 10px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.subtituloMenu {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .subtituloMenu h3 {
    font-weight: bold;
    text-decoration: underline; }

.opc {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.item-descripcion {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .item-descripcion p {
    font-family: "Times New Roman", Times, serif;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 0 0 0; }

.descripcion {
  font-style: italic;
  margin-bottom: 20px; }

@media (max-width: 900px) {
  .componenteMenu {
    flex-direction: column-reverse;
    align-items: center; }
    .componenteMenu img {
      width: 90%;
      margin-top: 20px;
      margin-bottom: 30px; }
    .componenteMenu .tituloMenu {
      width: 90%; } }

/***********************************************************/
/*                       PAGINA CONTACTO                   */
/***********************************************************/
.bodyContacto {
  background-color: #c2bab4; }

.contactosPrincipal {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.infoContacto {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .infoContacto img {
    width: 20px;
    height: 20px; }
  .infoContacto p {
    margin-bottom: 10px; }

.redesSociales {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  .redesSociales img {
    width: 30px;
    height: 30px; }

#id-contacto {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  #id-contacto h2 {
    font-size: 2rem;
    font-weight: bold; }

.inputTexto {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 30px 0px 30px 0px; }
  .inputTexto input {
    margin: 10px 0px 10px 0px;
    height: 35px; }
  .inputTexto textarea {
    height: 150px; }

.boton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px; }
  .boton input {
    padding: 10px 15px 10px 15px; }

@media (max-width: 900px) {
  .contactosPrincipal {
    display: flex;
    flex-flow: row wrap; }
  #id-contacto {
    width: 90%; }
  .inputTexto input {
    height: 50px; }
  .infoContacto {
    width: 90%; }
    .infoContacto iframe {
      width: 90%; }
  .boton {
    flex-direction: column; }
    .boton input {
      margin: 5px 0px 5px 0px; } }

/***********************************************************/
/*                       TIENDA ONLINE                     */
/***********************************************************/
.bodyTienda {
  background-color: #b6a598; }

.flexCard {
  display: flex;
  flex-direction: row; }
  .flexCard .col {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px; }
    .flexCard .col img {
      object-fit: cover;
      height: 100%;
      width: 100%; }
    .flexCard .col .card-body {
      background-color: #adcac4; }
