.animacion {
	li {
		font-size: 15px;
		padding: 0.5em 1.2em;
		&:hover {
			box-shadow: 2px 2px 5px #563d18e2;
			transition: all 0.2s ease;
		}
		&:active {
			box-shadow: 2px 2px 5px #563d18e2;
      background-color: #5b401967;
			transition: all 0.2s ease;
		}
	}
}

.animacionSubmit{
  @extend .animacion;
  &:hover {
    box-shadow: 2px 2px 5px green;
    transition: all 0.2s ease;
  }
}

.animacionReset{
  @extend .animacion;
  &:hover {
    box-shadow: 2px 2px 5px red;
    transition: all 0.2s ease;
  }
}