/***********************************************************/
/*                       PAGINA MENU                       */
/***********************************************************/
.bodyMenu {
  background-color: map-get($map: $colores, $key: fondo_body);
}
.menu {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  h1 {
    text-align: center;
    font-size: 3rem;
    font-family: $font;
    text-decoration: underline;
    background: linear-gradient(
      to bottom,
      rgb(83, 173, 175),
      map-get($map: $colores, $key: fondo_body)
    );
    color: beige;
    text-shadow: 4px 4px map-get($map: $colores, $key: fondo_body);
  }
}
.componenteMenu {
  margin-top: 50px;
  margin-bottom: 50px;
  @include flex(row, space-around);
  img {
    margin-left: 10px;
    margin-right: 10px;
    width: 40%;
    object-fit: cover;
  }
}
.seccionMenu {
  font-family: $font;
  font-size: 1.5rem;
  margin-left: 10px;
  margin-right: 10px;
  width: 50%;
  @include flex(column, center);
}
.tituloSeccion {
  @include flex(row, center);
  h3 {
    font-weight: bold;
    text-decoration: underline;
  }
}
.opc {
  @include flex(column, center);
}
.item-descripcion {
  @include flex(row, space-between);

  p {
    font-family: $font;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 0 0 0;
  }
}

.descripcion {
  font-style: italic;
  margin-bottom: 20px;
}

@media (max-width: 900px) {
  .componenteMenu {
    flex-direction: column-reverse;
    align-items: center;
    text-align: start;
    margin-top: 20px;
    margin-bottom: 20px;
    img {
      width: 90%;
      margin-top: 20px;
      margin-bottom: 30px;
    }

    .seccionMenu {
      width: 80%;
    }
    .tituloMenu {
      width: 90%;
    }
  }
}
