/***********************************************************/
/*                       TIENDA ONLINE                     */
/***********************************************************/

.bodyTienda {
  background-color: map-get($map: $colores, $key: fondo_body);
}

.tituloTienda{
  h1{
    text-align: center;
    font-size: 3.5rem;
    font-family: $font;
    text-decoration: underline;
    background: linear-gradient(to bottom, rgb(83, 173, 175), map-get($map: $colores, $key: fondo_body));
    color: beige;
    text-shadow: 4px 4px map-get($map: $colores, $key: fondo_body);   
  }
}

.seccionTienda{
  @include flex(column, center);
  .subtituloTienda{
    margin-top: 100px;
    h2{
      font-size: 2.5rem;
      font-family: $font;
      font-weight: bold;
      text-decoration: underline;
      background: linear-gradient(to top, #53adaf, #b6a598);
      color: beige;
      text-shadow: 4px 4px map-get($map: $colores, $key: fondo_body); 
      display: inline;
    }
  }
}

.col {
  margin-top: 10px;
  margin-bottom: 10px;

  .card {
    height: 100%;

    .card-image {
      height: 40%;
      img {
        height: 100%;
        object-fit: contain;
      }
      .carouselImage{
        height: 100%;
        img {
          height: 100%;
          object-fit: contain;
        }
      }
    }


    // span{
    //   &:hover{
    //   background-color: black;
    //   }
    // }

    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: map-get($map: $colores, $key: fondo_celeste_claro);
      height: 60%;
      .card-title{
        margin: 5px 5px 5px 5px;
      }

      .card-desc {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 10px 10px 10px 10px;
        text-align: left;
        p {
          font-size: 1.1rem;
          margin-bottom: 0;
        }
        span {
          font-weight: bold;
        }
      }
      .card-compra {
        display: flex;
        flex-direction: column;
        justify-content: center;
        p {
          margin: 5px 5px 5px 5px;
          text-align: center;
          font-size: 1.5rem;
          font-weight: 500;
        }
      }

      .btn{
        margin: 5px 5px 5px 5px;
      }

    }
  }
}

@media (max-width:350px) {
  .seccionTienda{
    .subtituloTienda{
      h2{
        font-size: 2rem;
        padding: 0%;
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .tituloTienda{
    h1{
      font-size: 3rem;
    }
  }
  .col{
    .card{
      height: auto;
      .card-body{
        height: auto;
      }
    }
  }
 }

 // `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px){
  .col{
    .card{
      .card-image{
        height: 300px;
        .carouselImage{
          img {
            height: 300px;
          }
        }
      }

    }
  }
 }

